.ProfilePageLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
}

button {
    background:  linear-gradient(98.63deg, #00c300 0%, #78ff78 100%);;
}